{%extends "layout.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% block content%}
    <div class="about-div">
        <h2 class="about-text">AskMate is a question and answer site for professional and enthusiast programmers. It is a privately held website, the flagship site of the LOGOS Development Inc., created in 2020 by Florin Ciocirlan, Mark Stan, Ioan Circiumaru, Negoita Arsino and Sorin Obreja. It features questions and answers on a wide range of topics in computer programming. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in September 2019 by shareholders of LOGOS Inc. </h2>
    </div>
    <div >
        <img src="../static/images/123535.png" class="review-image" width="430" height="230">
        <img src="../static/images/34523462.png" class="review-image" width="430" height="230">
        <img src="../static/images/45734573457.png" class="review-image" width="430" height="230">
    </div>
{% endblock %}
</body>
</html>