{% extends 'question-page.html' %}
{% block content %}

    <div class="add-question-content">
        <form action="{{url_for('answer_route', question_id=question_id )}}" method="post">
            <p class="answer-title">Answer</p>
            <textarea cols="42" name="message" required rows="5"></textarea>
            <div>
                <input class="button" id="upload-button" name="submit-button" type="submit" value="Leave answer">
            </div>
        </form>
    </div>
{% endblock %}
