{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content%}
    <div class="d-flex justify-content-center mt-3 p-3 form-group">
        <form action="{{url_for('question_comment_route', question_id=question_id)}}" method="POST" class="bg-light border rounded p-3">
            <label class="h3 text-secondary">Comment</label>
            <textarea name="question-comment" rows="5" class="border rounded mt-2 form-control" maxlength="250"></textarea>
            <div>
                <input type="submit" value="submit" class="btn btn-lg btn-success">
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>