{% extends 'layout.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
{% block content %}
<div class="add-question-content">
<form action="{{url_for('edit_route', question_id=question_id)}}" method="post">
    <label class="answer-title">Title</label><br>
    <textarea name="title" style="margin-top: -10px; margin-bottom: 2px" >{{question['title']}}</textarea><br>
    <label class="answer-title">Message</label><br>
    <textarea name="message" rows="5" cols="35">{{question['message']}}</textarea><br>
    <input type="submit" value="Send" class="button" id="upload-button">
</form>
</div>
{% endblock %}
</body>
</html>