{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div>
    <form action="{{url_for('edit_answer_comment', comment_id=comment['id'])}}" method="POST">
        <label class="answer-title">Edit comment</label>
        <textarea name="comment" minlength="5" rows="5" cols="35">{{comment['message']}}</textarea>
        <div>
        <input type="submit" value="submit" class="button">
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>