{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<table>
    <thead>
    <tr>
        {% for header in fieldnames %}
        <th>
        {{header}}
        </th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
        <tr>
            {% for row in file %}
            <tr>
            <td>
                {{row["submission_time"]}}
            </td>
            <td>
                {{row["view_number"]}}
            </td>
            <td>
                {{row["vote_number"]}}
            </td>
            <td>
                <a href = {{url_for('question_route', id = row['id'])}}>
                {{row["title"]}}
                </a>
            </td>
            {% endfor %}
        </tr>
        </tr>

    </tbody>
</table>
<div>
    <a href="{{url_for('add_question_route')}}">
    <button type="button" > Add question </button>
    </a>
</div>
{% endblock %}
</body>
</html>