{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
{% block content %}
<div class="text">
{% for data in to_display.values() %}
    {% if data %}
        {% if ((".jpg") or (".jpeg") or (".png")) in data %}
    <div class="question-image"><img src="{{url_for('static', filename = 'images/'+ data)}}"/></div>
        {% else %}
    <span class="answer-text"> {{data}}</span>
        {% endif %}
    {% endif %}
{% endfor %}

</div>

<div>
    {% for answers in answers_to_display%}
    <p>
    <span>{{answers["submission_time"]}}</span>
    <span>{{answers["vote_number"]}}</span>
    <span>{{answers["message"]}}</span>
        {% if ((".jpg") or (".jpeg") or (".png")) in answers %}
    <img src="{{url_for('static', filename = 'images/'+ data)}}/>
    </p>
        {% endif%}
    {% endfor %}

</div>
{% endblock %}
</body>
</html>