body {
    background-color: #E8E8E8;
    font-family: Ubuntu;
    text-align: center;
    padding-bottom: 55px;
}


.about-div {
    padding: 100px 400px 30px 400px;
    color: #484848;
}

.about-text {
    text-align: center;
    font-size: 30px;
}

.nav-item {
    font-size: 35px;
    font-family: Ubuntu;
}

.navbar-nav {
    margin-left: 20px;
}

.home-title {
    text-align: center;
}

.home-text {
    padding: 40px 40px 40px 40px;
    color: #484848;
}

.button{
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-add-question {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 25px;
}

#browse-button {
    margin-top: 40px;
    position: relative;
}

#upload-button {
    position: relative;
    height: 62px;
    width: 350px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
}

.question-image {
    margin-top: 50px;
    height: 300px;
    border-radius: 15px;
}



table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.forum-table {
    width: 100%;
    margin: 0;
    padding: 0;
}

th{
    font-size: 25px;
}

td{
    font-size: 18px;
}

a {
    text-decoration: none;
}

.home-tr {
    font-size: 20px;
    border: 5px solid #f1fdff;
    border-collapse: collapse;
    background-color: #c1cccc;
}

.delete-edit-question {
    box-shadow: 0px 0px 100px white;
    position: relative;
    font-family: Ubuntu;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 35px;
    overflow: visible;
    color: black;
    width: auto;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    height: auto;
}

#delete {
    background-color: #ed484a;
    border: 1px solid #ed484a;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-self: flex-end;
    left: 0px;
    width: fit-content;
}

#edit {
    background-color: #4b914b;
    border: 1px solid #4b914b;
    border-radius: 5px;
    padding: 2px;
    margin-left: 3px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-self: flex-end;
    left: 0px;
    width: fit-content;
}

#add-comment {
    background-color: #4b914b;
    border: 1px solid #4b914b;
    border-radius: 5px;
    padding: 3px;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
}

#delete-answer {
    background-color: #ed484a;
    border: 1px solid #ed484a;
    border-radius: 5px;
    padding: 3px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

#edit-answer {
    background-color: #4b914b;
    border: 1px solid #4b914b;
    border-radius: 5px;
    margin-left: 3px;
    padding: 3px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}


.question-answers {
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    border-collapse: collapse;
}

.sort-by{
    background-color: white;
    color: black;
}
.order-button{
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 20px;
    color: white;
    font-size: 12px;
}

.answer-title{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    display: block;
}

#q-submission-time {
    font-size: 13px;
    font-weight: bold;
}

#q-title {
    position: relative;
    text-align: center;
    font-size: 20px;
    display: block;
}

#q-message {
    position: relative;
    font-size: 15px;
    text-align: center;
    display: block;
}

#q-vote {
    position: relative;
    font-size: 13px;
    font-weight: bold;
}

#q-view{
    position: relative;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.stats{
    display: block;
    position: relative;
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
}

#answer-message {
    position: relative;
    font-size: 16px;
    text-align: center;
    left: 0px;
    bottom: 0px;
    display: block;
}

#answer-vote {
    font-size: 13px;
    font-weight: bold;

}

#answer-submission {
    font-size: 13px;
    font-weight: bold;
}

.answer-stats{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.question-comments {
    margin-left: 2%;
    margin-right: 2%;
}

.individual-comment {
    background-color: #fff;
    border: 2px solid #079992;
    border-radius: 5px;
    margin: 1%;
    border-collapse: collapse;
}

.see-comments {
    cursor:pointer;
}

#add-comment-question {
    text-decoration: none;
    background-color: #eabc50;
    color:#FFF;
    border: 1px solid #eabc50;
    padding: 3px;
    border-radius: 5px;
    font-size: 10px;
    vertical-align: center;
    height: fit-content;
    width: fit-content;
}

.add-question-content {
    padding: 30px 30px 30px 30px;
}


#highlight {
    background-color:yellow;
}

.register {
    color: rgba(0, 0, 0, 0.51);
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}